<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myquiz">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartKids"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VocabularyActivity3"></activity>
        <activity android:name=".VocabularyActivity2" />
        <activity android:name=".VocabularyActivity1" />
        <activity android:name=".HardActivity2" />
        <activity android:name=".HardActivity1" />
        <activity android:name=".MediumActivity2" />
        <activity android:name=".MediumActivity1" />
        <activity android:name=".ReadingSets" />
        <activity android:name=".ReadingActivity2" />
        <activity android:name=".ReadingActivity" />
        <activity android:name=".PaintActivity" />
        <activity android:name=".Memory_game" />
        <activity android:name=".ColoringGame" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".ScoreActivity" />
        <activity android:name=".SetsActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>